
<h3> New Listing Form</h3>
<form {{action 'createList' on='submit'}}>
  <div class="form-group">
  <label>name</label>
  {{input type="text" class="form-control" value=newList.name placeholder="e.g. 1 bed 1 bath near Fenway"}}
</div>
<div class="form-group">
  <label>House Number</label>
  {{input type="text" class="form-control" value=newList.houseno placeholder="e.g. 12A, 54"}}
</div>
<div class="form-group">
  <label>Street name</label>
  {{input type="text" class="form-control" value=newList.stname placeholder="e.g. Spooner St."}}
</div>
<div class="form-group">
  <label>Zip Code</label>
  {{input type="text" class="form-control" value=newList.zipcode placeholder="e.g. 02215"}}
</div>
<div class="form-group">
  <label>Area</label>
  {{input type="text" class="form-control" value=newList.area placeholder="e.g. Fenway/Kenmore, Northend, Backbay"}}
</div>
<div class="form-group">
  <label>Start date</label>
  {{input type="date" class="form-control" value=newList.startdate placeholder="Another input"}}
</div>
<div class="form-group">
  <label>End Date</label>
  {{input type="date" class="form-control" value=newList.enddate placeholder="Another input"}}
</div>
  <button type='submit'>Submit New Listing</button>
</form>
