<h2>{{model.name}}</h2>
<div class="text">
  <span><b>House No:</b> {{model.houseno}}<br></span>
  <b>Street Name:</b> {{model.stname}}<br>
  <b>City:</b> {{model.city}}<br>
  <b>ZipCode:</b> {{model.zipcode}}<br>
  <b>Area:</b> {{model.area}}<br>
  <b>Start Date:</b> {{model.startdate}}<br>
  <b>End Date:</b> {{model.enddate}}<br>
  <b>Contact Email:</b> {{model.email}}<br>
  <b>Price Per Day:</b> ${{model.price}}<br>
</div>
