{{#each model as |apartment|}}
<div class="cards">
{{house-avaliable apartment=apartment}}
{{#if apartment.editable}}
<button class="btn btn-primary" {{action 'goToList' apartment}}>More Info</button>
<button class="btn btn-warning" {{action 'update' apartment}}>Update</button>
<button class="btn btn-danger" {{action 'delete' apartment}}>Delete</button>
{{else}}
<button class="btn btn-primary" {{action 'goToList' apartment}}>More Info</button>
{{/if}}
</div>
{{/each}}
